body{
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}
.main{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 600px;
    margin-bottom: 20px;
    margin-top: 10px;
    
}
.white{
    background-color: white;
    /* height: 710px; */
    grid-area: 1/1/3/2;
}

p{
    display: block;
    font-size: 4rem;
    padding: 50px;
    padding-bottom: 0px;
}
span{
    color: rgb(248, 127, 147);
}
.order-button{
    background-color: rgb(248, 127, 147);
    margin-left: 50px;
    padding: 10px 25px;
    border: rgb(248, 127, 147);
    border-radius: 10px;
}
.order-button a{
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    font-family: 'Poppins';    
}
.order-button:hover{
    /* background-color: white; */
    opacity: 0.6;
}


.order-button > a {
    font-size: 25px;
}

.nav-items li a{
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
}
.nav-items li a:hover{
    color: white;
    font-weight: 600; 
}

header {
    
    display: inline-block;
}

.navbar-nav {
    justify-content: space-between;
}

#navbarNav {
    justify-content: center;
}


.header {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 1/2/2/3;
    background-color: rgb(248, 127, 147);

}

.image {
    background-color: rgb(248, 127, 147);
    grid-area: 2/2/3/3;
}


@media (max-width: 680px) {
    
    .main{
        grid-template-columns: 1fr;
        grid-template-rows: 80px 1fr 1fr;

    }
    .image {
        background-color: white;
        grid-area: 3/1/4/2;
    }

    .header {
        grid-area: 1/1/2/2;
        background-color: white;   
        margin-top: 25px;
    }

    .white{
        background-color: white;
        grid-area: 2/1/3/2;
    }

    .nav-items li a:hover{
        color: black;
        opacity: 0.5;
        font-weight: 500; 
    }
    .nav-items li a {
        font-size: 1.5rem;
    }

    p {
      font-size: 3.5rem;
      text-align: center;
    }
    .order-button{
        justify-content: center;
        position: relative;
        left: 30%;
    }

  }
  
